---
layout: default
title: Blog
description: Index includes a simple blog with pagination.
featured_image: /images/social.jpg
---

<section class="index-blog">
	<div class="content-wrap blog-wrap">
		<ul class="blog-post-list">
			{% for post in paginator.posts %}
			<li class="blog-post-item">
				<a class="blog-post-link" href="{{ post.url | relative_url }}">
					<h4 class="blog-post-title">{{ post.title }}</h4>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}